.nav-pills a {
    cursor: pointer;
}

.movie-list {
    -moz-column-count: 4; /* Firefox */
    -webkit-column-count: 4; /* Safari 和 Chrome */
    column-count: 4;
    -moz-column-gap: 2em;
    -webkit-column-gap: 2em;
    column-gap: 2em;
    width: 100%;
    margin: 2em auto;
}

@media screen and (max-width: 1200px) {
    .movie-list {
        column-count: 3;
    / / two columns on larger phones
    }
}

@media screen and (max-width: 800px) {
    .movie-list {
        column-count: 2;
    / / two columns on larger phones
    }
}

@media screen and (max-width: 500px) {
    .movie-list {
        column-count: 1;
    / / two columns on larger phones
    }
}

.movie-item {
    width: 250px;
    margin: 10px 10px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 2px #b9bbbe;
    display: inline-block;
    border: solid darkgrey 1px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    -moz-page-break-inside: avoid;
    -webkit-column-break-inside: avoid;
    break-inside: avoid;
}

.movie-poster {
    width: 230px;
}

.movie-detail-poster {
    border-radius: 20px;
    /*margin: 10px 10px;*/
    box-shadow: 2px 2px 2px #b9bbbe;
    border: solid darkgrey 1px;
}

.movie-rate {
    border-radius: 20px;
    padding: 2px 0 1px 0;
    width: fit-content;
}
