.nav-pills a{
    cursor: pointer;
}
.movie-list {

}

.movie-item {
    width: 250px;
    margin: 10px 10px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 2px #b9bbbe;
    display: inline-block;
    border: solid darkgrey 1px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

/*.movie-item:hover {*/
/*    box-shadow: 3px 3px 3px cornflowerblue;*/
/*}*/

.movie-poster {
    width: 200px;
}