{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}{{ movie_info.title }}{% endblock %}

{% block page_content %}
<div class="movie-display">
    <img class="movie-poster col-lg-4" src="{{ movie_info['poster_link'] }}">
    <div class="movie-detail col-lg-6">
        <h1>{{ movie_info['title'] }}</h1>
{#        <p>{{ user.comments.count() }} 评论</p>#}
        <h3>{{ movie_info['tagline'] }}</h3>
        <p>评分：{{ movie_info['vote_average'] }}</p>
        <p>评分人数：{{ movie_info['vote_count'] }}</p>
        <p>流派：{{ " / ".join(movie_info['genres']) }}</p>
        <p>简介：{{ movie_info['overview'] }}</p>
        <p>关键词：{{ " / ".join(movie_info['keywords']) }}</p>
        <p>上映日期：{{ movie_info['release_date'] }}</p>

    </div>
</div>
{#<h3>Posts by {{ user.username }}</h3>#}
{#{% include '_posts.html' %}#}
{#{% if pagination %}#}
{#<div class="pagination">#}
{#    {{ macros.pagination_widget(pagination, '.user', username=user.username) }}#}
{#</div>#}
{#{% endif %}#}
{% endblock %}
