{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}Movie List{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='movie.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
{% endblock %}

{% block page_content %}
    <ul class="nav nav-pills" id="genresApp">
        <li v-bind:class="{ active:cur_id==-1 }"><a id="genre-1" @click="changeGenre($event)">ALL</a></li>
        <li v-for="item in genres" v-bind:class="{ active:item.id==cur_id }"><a :id="'genre'+item.id"
                                                                                @click="changeGenre($event)">{[
            item.name ]}</a></li>
    </ul>
    <div class="movie-list" id='movieApp'>
        <div class="movie-item" v-for="item in movieItems">
            <img class="movie-poster"
                 :src="item.poster_link"
                 alt="movie poster">
            <div class="caption">
                <h3> {[ item.title ]} </h3>
                <p> {[ item.tagline ]} </p>
                <p>
                    <a class="btn btn-primary" role="button">Like</a>
                    <a :href="'/movie/detail/' + item.movie_id" class="btn btn-default" role="button">Detail</a>
                </p>
            </div>
        </div>
    </div>

    <script>
        var genresApp = new Vue({
            el: '#genresApp',
            delimiters: ['{[', ']}'],
            data: {
                genres: [],
                cur_id: -1
            },
            created() {
                this.getGenresList()
            },
            methods: {
                getGenresList() {
                    this.$http.get('/movie/api/genres').then(result => {
                        // 注意： 通过 $http 获取到的数据，都在 result.body 中放着
                        var r_body = result.body;
                        if (r_body.status === 'success') {
                            this.genres = r_body.data.genres
                        } else {
                            alert('获取数据失败！')
                        }
                    })
                },
                changeGenre(e) {
                    if (e.target.id === "genre-1") {
                        this.cur_id = -1
                        movieApp.getMovieList();
                        return;
                    }
                    var genre_id = e.target.id.slice(5);
                    this.cur_id = parseInt(genre_id)
                    movieApp.getMovieList(genre_id);

                }
            }
        })
        var movieApp = new Vue({
            el: '#movieApp',
            delimiters: ['{[', ']}'],
            data: {
                movieItems: []
            },
            created() { // 当 vm 实例 的 data 和 methods 初始化完毕后，vm实例会自动执行created 这个生命周期函数
                this.getMovieList()
            },
            methods: {
                getMovieList(genre_id) {
                    if (genre_id === undefined) {
                        this.$http.get('/movie/api/movie_list').then(result => {
                            // 注意： 通过 $http 获取到的数据，都在 result.body 中放着
                            var r_body = result.body;
                            if (r_body.status === 'success') {
                                this.movieItems = r_body.data.movieItems
                            } else {
                                alert('获取数据失败！')
                            }
                        })
                    } else {
                        this.$http.get('/movie/api/movie_list', {params: {genre_id: genre_id}}).then(result => {
                            // 注意： 通过 $http 获取到的数据，都在 result.body 中放着
                            var r_body = result.body;
                            if (r_body.status === 'success') {
                                this.movieItems = r_body.data.movieItems
                            } else {
                                alert('获取数据失败！')
                            }
                        })
                    }

                },
                like() {
                },
                detail() {
                }
            }
        })
    </script>

{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}
